<nav>
    <div class="nav_wrap">
        <a href="/">HOME</a>
        
        <pre>
        {% raw %}
        {% if not session.get('signinedMemberId') %}
            | <a href="/member/signup_form">SIGN-UP</a>
            | <a href="/member/signin_form">SIGN-IN</a>
        {% else %}
            | <a href="/member/signout_confirm">SIGN-OUT</a>
            | <a href="/member/modify_form">MODIFY</a>
            | <a href="/member/delete_confirm">DELETE</a>
        {% endif %}
        {% endraw %}
        </pre>
    </div>
</nav>
